body {
    background-image: url("glass.jpg");
    background-size: cover;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    height: 100vp;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: whitesmoke;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: whitesmoke;
    font-weight: bold;
    width: 150px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid black
}

#increment-btn {
    background: blue;
}

#save-btn {
    background: lightseagreen;
}

.mainBody {
    border: 3px dotted whitesmoke;
    width: 300px;
    height: 350px;
    background-color: lightskyblue;
    margin-top: 25px;
}

